  /*Set widths on everything. Change background, and set global font family */
article.content-wrapper{
  margin: 0;
  padding: 0;
  font-family: "Arial", Arial, serif;
  position: absolute;
  height: 100%;
  width: 88%;
  text-align: center;
  border-left: black solid 5em;
  border-right: black solid 5em;
}

  /* Make bigger and color, change our font family to sans serif */
h1{
  text-align: center;
  color:mediumpurple;
  padding-top: 20px;
  padding-bottom: 10px;
}

  /* Change background color, remove bullets, border on each individual nav element, float the links, center our content within the links, width on links, font color, font change family */
nav.main-nav{
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  background-color: mediumpurple;
}

nav.main-nav ul{
  display: flex;
  justify-content:space-around;
}

nav.main-nav li{
  border-right: black solid 0.05px;
  float: left;
  position: center;
  width: 12%;
  padding: 6px;
  background-color: mediumpurple;
  text-align: center;
}

/* Eliminate final black line, after the last link in navbar */
nav.main-nav li:last-child{
  border-right: mediumpurple solid 0.05px;
}

nav.main-nav a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

  /* Clear float, background color, float*/
aside ul{
  clear: both;
}
aside{
  clear: float;
  float: left;
  background-color: plum;
  font-size: 12px;
  font-weight: bold;
  
  padding: 30px 60px 30px 60px;
  line-height: normal;
}

nav.second-nav ul{
  margin-top: 4em;
  margin-bottom: 7em;
  justify-content:space-around;
}

nav.second-nav li{
  padding: 10px;
  text-align: center;
}

nav.second-nav a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

  /*Center the content.Change the background color. Float right or left, depending what works.*/
article.text{
  background-color: lightgrey;
  border-top: lightgrey solid 6em;
  border-bottom: lightgrey solid 4em;
  font-size: 10px;  
}

  /* Within figure, center everything by using margin-auto.*/
figure{
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

img.one{
  height: 30%;
  width: 30%;
  padding: 50px 10px 10px 10px;
}

  /*Images float left and center on the page.*/
img.two{
  float: clear;
  height: 2%;
  width: 2%;
  padding: 20px 10px;
}

footer{
  width: 100%;
}