  /* Change background, and set global font family */
article.content-wrapper{
  margin: 0;
  padding: 0;
  font-family: "Arial", Arial, serif;
  position: absolute;
  height: 100%;
  width: 88%;
  text-align: center;
  border-left: black solid 5em;
  border-right: black solid 5em;
}

h1{
  /* Make bigger and color, change our font family to sans serif */
  text-align: center;
  color:mediumpurple;
  padding-top: 20px;
  padding-bottom: 10px;
}

  /* Change background color, remove bullets, border on each individual nav element, float the links, center our content within the links, width on links, font color, font change family */

nav.main-nav{
  font-size: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  background-color: mediumpurple;
}

nav.main-nav ul{
  display: flex;
  justify-content:space-around;
}

nav.main-nav li{
  list-style-type: none;
  border-bottom: mediumpurple solid 1px;
  border-top: mediumpurple solid 1px;
  border-right: black solid 0.05px;
  float: left;
  position: center;
  width: 12%;
  padding: 4px;
  background-color: mediumpurple;
  text-align: center;
}

/* Eliminate final black line, after the last link in navbar */
nav.main-nav li:last-child{
  border-right: mediumpurple solid 0.05px;
}

nav.main-nav a{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

  /* Clear float, background color, float*/
aside{
  clear: float;
  float: left;
  background-color: violet;
/*  margin-top: auto;*/
  padding: 30px 30px 30px 30px;
  border: none;
  line-height: normal
}

aside ul{
  /* Clear both*/
}

article{
  /*Center the content.Change the background color. Float right or left, depending what works.*/
}

figure{
/* Within figure, center everything by using margin-auto.*/
}

footer{
  /*Images float left and center on the page.*/
}

/*Set widths on everything*/